name: CI

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Update apt cache
        run: sudo apt-get update
      - uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
      - name: Install dependencies
        run: opam install --deps-only --with-test -y .
      - name: Build & test
        run: |
          opam exec -- dune build @all
          opam exec -- dune runtest
          opam exec -- dune build @install
